.score {
  color: yellow;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
}

.score--best,
.score--total {
  padding-left: 1rem;
}

.score-container {
  display: flex;
  margin: 0;
  padding: 0;
}
