.button {
  margin: 0.2rem;
  padding: 1rem;

  color: yellow;

  background: transparent;
  border: 1px solid yellow;
  border-radius: 0.5rem;

  transition: 0.5s background;
}

.button--start {
  width: 100%;
}

.button--language,
.button--sounds {
}

.button--init {
  padding: 2rem 5rem;

  box-shadow: 0px 0px 0px 0px rgba(255, 255, 0, 1);

  transition: 1s box-shadow;

  animation: glow 1s linear infinite;
}

.button:hover {
  color: red;

  background: yellow;

  transition: 0.5s background;
}

.button--init:hover {
  background: transparent;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 1);

  transition: 0.5s box-shadow;
  animation-play-state: paused;
}

.button:active {
  color: black;

  background: green;
}

.button--active {
  color: black;

  background: green;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 0px 0px rgba(255, 255, 0, 1);
  }
  to {
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 1);
  }
}
