.button {
  margin: 0.2rem;
  padding: 1rem;

  color: yellow;

  background: transparent;
  border: 1px solid yellow;
  border-radius: 0.5rem;

  transition: 0.5s background;
}

.button--start {
  width: 100%;
}

.button:hover {
  color: red;

  background: yellow;

  transition: 0.5s background;
}

.button:active {
  color: black;

  background: green;
}
