.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 128rem;
  height: 100vh;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  &__arena {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 89%;
    overflow: hidden;

    // background-image: url('../assets/static/images/galaxy1.jpg');

    border: solid yellow 2px;
    border-radius: 1rem;
  }

  &__scores {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__stats {
    z-index: 30;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}
